---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Código Bushido">
  <main></main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 0 1rem 1rem;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
    height: 90vh;
  }
  .logo {
    width: 6rem;
    height: 2rem;
  }
</style>
